@page "/receive"
@using Humanizer
@using CameraTorrent.Lib
@using CameraTorrent.Lib.Util
@inject IJSRuntime JS

<PageTitle>Camera Torrent</PageTitle>

<h1>File receiving</h1>

Select one or more photos and the package will be opened for you.

<br />
<br />

<InputFile OnChange="@LoadImages" multiple accept="image/*" capture />

<br />
<br />

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Modified</th>
			<th>Size</th>
			<th>Type</th>
			<th>Loaded</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var file in _currentFiles)
		{
			<tr>
				<td>@file.Meta.Name</td>
				<td>@file.Meta.Modified.ToString("g")</td>
				<td>@file.Meta.Size.Bytes().Humanize()</td>
				<td>@file.Meta.Type</td>
				<td>
					@if (IsComplete(file))
					{
						<button class="btn btn-outline-danger"
							@onclick="@(async () => await Download(file))">&#x25bc;</button>
					}
					else
					{
						@(file.Progress.ToString("F2") + " %")
					}
				</td>
			</tr>
		}
	</tbody>
</table>

<button class="btn btn-primary" @onclick="ProcessImages">Start!</button>
<button class="btn btn-warning" @onclick="ResetImages">Reset!</button>

<br />
<br />

<p>@_details</p>
<p>@_status</p>

@code {
	private const int MaxFileCount = 33;
	private const int MaxImageSize = 9 * 1024 * 1024;
	private const int MaxFileSize = 59 * 1024 * 1024;
	private readonly List<IBrowserFile> _loadedImages = new();

	private void ResetImages()
	{
		_loadedImages.Clear();
		_status = string.Empty;
		_details = string.Empty;
		_bucket = new Bucket();
		_currentFiles = Array.Empty<Bucket.BucketFile>();
		_torrent = new Torrent();
		_failedCodes.Clear();
		_goodCodes.Clear();
	}

	private static bool IsComplete(Bucket.BucketFile file)
	{
		return (int)file.Progress == 100;
	}

	private void LoadImages(InputFileChangeEventArgs e)
	{
		_loadedImages.Clear();
		foreach (var image in e.GetMultipleFiles(MaxFileCount))
		{
			_loadedImages.Add(image);
		}
		_status = string.Empty;
	}

	private string _status = string.Empty;
	private string _details = string.Empty;
	private Bucket _bucket = new();
	private Bucket.BucketFile[] _currentFiles = Array.Empty<Bucket.BucketFile>();
	private Torrent _torrent = new();

	private readonly List<int> _failedCodes = new();
	private readonly List<int> _goodCodes = new();

	private Task ProcessImages() => ProcessImages(_loadedImages);

	private async Task ProcessImages(ICollection<IBrowserFile> loaded)
	{
		var i = 0;
		foreach (var image in loaded)
		{
			i++;
			await using var stream = image.OpenReadStream(MaxImageSize);
			if (!await _torrent.Unpack(stream, _bucket))
			{
				_failedCodes.Add(i);
				continue;
			}
			_goodCodes.Add(i);
			_currentFiles = _bucket.CheckProgress().ToArray();
		}
		loaded.Clear();
		if (_bucket.Info?.Stats != null)
		{
			var raw = _bucket.Info.Stats.Raw.Bytes().Humanize();
			var zip = _bucket.Info.Stats.Zip.Bytes().Humanize();
			_details = $"{raw} in total, compressed to {zip}";
		}
		else
		{
			_details = "No metadata available yet!";
		}
		_status = $"{_goodCodes.Count} codes read and {_failedCodes.Count} failed.";
	}

	private async Task Download(Bucket.BucketFile fileRef)
	{
		var arg = _torrent.TryUnpack(_bucket)
			.First(t => t.Name == fileRef.Meta.Name);
		await using var stream = await arg.Read(MaxFileSize);

		var name = arg.Name;
		var size = stream.Length.Bytes().Humanize();
		using var streamRef = new DotNetStreamReference(stream);
		await JS.InvokeVoidAsync("downloadFileFromStream", name, streamRef);

		_status = $"Downloaded '{name}' with {size}!";
	}
}
